body {
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url(https://i.pinimg.com/originals/ad/1e/2c/ad1e2c0c93696b30a9a6c916cb73d4b7.jpg);

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imagem {
  width: 20%;
  height: auto;
  padding: 0;
  margin: 0;
}
#div1 {
  width: 100%;
  background-color: red;
  height: 70px;
  padding-top: 26px;
  text-align: center;
}
#div2 {
  width: 100%;
  background-color: orange;
  height: 70px;
  padding-top: 26px;
  text-align: center;
}
#div3 {
  width: 100%;
  background-color: yellow;
  height: 70px;
  padding-top: 26px;
  text-align: center;
}
#div4 {
  width: 100%;
  background-color: green;
  height: 70px;
  padding-top: 26px;
  text-align: center;
}
#div5 {
  width: 100%;
  background-color: rgb(0, 191, 255);
  height: 70px;
  padding-top: 26px;
  text-align: center;
}
#div6 {
  width: 100%;
  background-color: blue;
  height: 70px;
  padding-top: 26px;
  text-align: center;
}
#div7 {
  background-color: purple;
  height: 70px;
  padding-top: 26px;
  text-align: center;
  width: 13%;
}

#sec1 {
  padding-left: 10%;
  padding-right: 80%;
}
#sec2 {
  padding-left: 20%;
  padding-right: 70%;
}
#sec3 {
  padding-left: 30%;
  padding-right: 60%;
}
#sec4 {
  padding-left: 40%;
  padding-right: 50%;
}
#sec5 {
  padding-left: 50%;
  padding-right: 40%;
}
#sec6 {
  padding-left: 60%;
  padding-right: 30%;
}
#sec7 {
  padding-left: 10%;
  padding-right: 20%;
  display: flex;
}

.image {
  margin-left: 5%;
  margin-right: 5%;
  height: 250px;
}
#sec {
  padding: 0;
  margin: 0;
  display: flex;
}
#botao {
  width: 10%;
  margin-left: 0;
  margin-right: 75.6%;
}
